asgiref
Django
django-environ
gunicorn
packaging
psycopg2-binary
sqlparse
tzdata
djangorestframework
aiogram
python-decouple
dj-database-url
djangorestframework
djangorestframework-simplejwt
