asgiref
Django
django-environ
gunicorn
packaging
psycopg2-binary
sqlparse
tzdata
djangorestframework
aiogram
python-decouple
dj-database-url
djangorestframework
djangorestframework-simplejwt
drf-yasg==1.21.7
django-simple-history==3.3.0
setuptools>=65.5.1

